<nav>
    <!-- ul>li*2>a>div -->
    <ul>
        <li>
            <a routerLink="/demonstration/demo01">
                <div>Démonstration base</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo02Product/details">
                <div>Démonstration routing avec children</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo03">
                <div>Démonstration Binding</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo04">
                <div>Démonstration Pipes</div>
            </a>
        </li>
        <li>
            <a routerLink="/exercice/exo01">
                <div>Exercice</div>
            </a>
        </li>
    </ul>
</nav>
