<nav>
    <!-- ul>li*2>a>div -->
    <ul>
        <li>
            <a routerLink="/demonstration/demo01">
                <div>Démonstration base</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo02Product/details">
                <div>Démonstration routing avec children</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo03">
                <div>Démonstration Binding</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo04">
                <div>Démonstration Pipes</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo05">
                <div>Démonstration Directives de composants</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo06">
                <div>Démonstration Directives structurelles</div>
            </a>
        </li>
        <li>
            <a routerLink="/demonstration/demo07">
                <div>Démonstration Directives d'attributs (Custom)</div>
            </a>
        </li>
        <li>
            <a routerLink="/exercice/exo01">
                <div>Exercice mise en place des modules</div>
            </a>
        </li>
        <li>
            <a routerLink="/exercice/exo02">
                <div>Exercice chronomètre</div>
            </a>
        </li>
    </ul>
</nav>
